/* GLOBAL VARS */
@font-face {
    font-family: cordataFont;
    src: url("fonts/Cordata_PPC-400.woff");
}

@font-face {
    font-family: amstradFont;
    src: url("fonts/Amstrad_PC-2y.woff");
}

:root {
    --color-1: #FF9900;
    --color-2: #0015FF;
    --color-3: #FF0000;
    --color-4: #59FF00;
    --border-color: #000;
}

/* NAV BAR CLASSES */
.style-navbar {
    background-color: black;
    border-bottom: 3px solid white;
}

.title {
    font-family: cordataFont;
    text-shadow: 1px 1px #bbbbbb;
    margin: 0 25px 0 75px;
}

.tabs {
    font-family: amstradFont;
    font-size: 2em;
    height: 50px;
}

.link {
    text-shadow: 1px 1px #bbbbbb;
    letter-spacing: 0.075em;
    text-decoration: none;
    margin: 0 50px 0 50px;
    text-align: center;
    width: 100%;
}

/* About page nav link */
#about {
    border: 2px solid white;
    background-color: var(--color-1);
}

#about:hover {
    background-color: white;
    border: 2px solid black;
    color: var(--color-1);
    text-shadow: 1px 1px black;
}

/* Projects page nav link */
#projects {
    border: 2px solid white;
    background-color: var(--color-2);
}

#projects:hover {
    background-color: white;
    border: 2px solid black;
    color: var(--color-2);
    text-shadow: 1px 1px black;
}

/* Reflection page nav link */
#reflection {
    border: 2px solid white;
    background-color: var(--color-3);
}

#reflection:hover {
    background-color: white;
    border: 2px solid black;
    color: var(--color-3);
    text-shadow: 1px 1px black;
}

/* Contact page nav link */
#contact {
    border: 2px solid white;
    background-color: var(--color-4);
}

#contact:hover {
    background-color: white;
    border: 2px solid black;
    color: var(--color-4);
    text-shadow: 1px 1px black;
}

.icon {
    height: 150px;
    width: 150px;
}

.invert-image {
    filter: invert(100%);
}

/* CLASSES USED FOR ALL PAGES (MINUS NAV CLASSES) */
.content {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    border: solid 15px var(--border-color);
    position: absolute;
}

/* HOME PAGE */
.box-content {
    width: 98.5%;
    height: 97.5%;
    border: 2px solid #FFF;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
}


/* ABOUT PAGE */
.page-title {
    padding: 50px 0 20px 0;
    color: white;
    font-family: cordataFont;
    font-size: 80px;
}

.bio {
    margin: 20px 6% 6% 6%;
    font-family: cordataFont;
    font-size: 30px;
}

.parag {
    display: flex;
    flex-direction: row;
    font-family: cordataFont;

    color: #CFCFCF;
}

/* CONTACT PAGE */
.email-form {
    margin: 0 10% 10% 10%;
    border: 2px solid #FFF;
    border-radius: 3px;
    padding: 3px 0 10px 0;
    font-family: cordataFont;
    font-size: 25px;
}

input[type="text"], input[type="email"], textarea[type="text"] {
    background-color: #222;
    color: white;
}

input[type="text"]:focus, input[type="email"]:focus, textarea[type="text"]:focus {
    background-color: #555;
}